<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Signin Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.css}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/static/asserts/css/signin.css" th:href="@{/static/asserts/css/signin.css}" rel="stylesheet">
        <script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    </head>

	<body class="text-center">
	<div>
		<button class="btn btn-lg btn-primary btn-block" onclick="register()" th:text="#{login.btn2}">Sign in</button>
	</div>
		<form class="form-signin" action="main.html" th:action="@{/login.do}" method="post">
			<img class="mb-4" src="/static/asserts/img/bootstrap-solid.svg" th:src="@{/static/asserts/img/bootstrap-solid.svg}" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>
			<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
			<label class="sr-only" th:text="#{login.userid}">Username</label>	<input type="text" name="userid" id="userid" class="form-control" placeholder="userid" th:placeholder="#{login.userid}"required="" autofocus="">
			<label class="sr-only" th:text="#{login.password}">Password</label>
			<input type="password" name="password" class="form-control" placeholder="Password"  id="password" th:placeholder="#{login.password}"required="" value="123456">
            <h2 th:text="${param.userInfo} "th:unless="${param.userInfo == null}"></h2>
			<div class="checkbox mb-3">
				<label>
          <input type="checkbox" value="remember-me" > [[#{login.remember}]]
        </label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.btn}">Sign in</button>
			<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
			<!--<a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
			<a class="btn btn-sm" th:href="@{/index.html?l=en_US}">English</a>-->
		</form>


	</body>
	<script type="text/javascript">
		function register(){
			     var url="../ht/register.do";
                 var userid=$("#userid").val();
                 var password=$("#password").val();
            var data=JSON.stringify({
                "userid":userid,
				"password":password
			});
            $.ajax({
                        "url":url,
                        "data":data,
                		"contentType" : "application/json",
                        "type":"post",
                        "dataType":"json",
                        "success":function(data){
                            console.log(date);
                            alert(data.data);
                        }
                    });
		}
        //console.log()
        // $(document).ready(function(){
        //     var url="../clud/auto_login.do";
        //     //var username=$("#username").val();
        //     //var password=$("#password").val();
        //
        //     //var data="username="+username+"&password="+password;
        //
        //     $.ajax({
        //         "url":url,
        //         "data":"",
        //         "type":"post",
        //         "dataType":"json",
        //         "success":function(json){
        //             console.log(json);
        //
        //         }
        //     });
        // });
	</script>
</html>